{
  "presets": [
    "@babel/preset-react",
    "@cityofboston/config-babel/browser",
    "@cityofboston/config-babel/typescript"
  ],
  "env": {
    "test": {
      "plugins": ["babel-plugin-require-context-hook"]
    },
    "esm": {
      "presets": [
        [
          "@cityofboston/config-babel/browser",
          {
            "esm": true
          }
        ]
      ]
    }
  }
}