{
  "presets": [
    ["env", { "modules": "commonjs" }],
    "flow"
  ],
  "plugins": [
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", { "polyfill": false, "regenerator": true }]
  ]  
}
