dist: trusty
services:
- docker
language: node_js
node_js:
- 8.4

branches:
  only:
  - production
  - develop
  - "/^greenkeeper\\/.*$/"

before_install:
- npm i -g greenkeeper-lockfile@1

before_script:
- greenkeeper-lockfile-update
script:
- npm run test-ci
after_success:
- npm run report-coverage
- greenkeeper-lockfile-upload
before_deploy:
- pip install --upgrade --user awscli
deploy:
  - provider: script
    script: "./deploy/deploy.sh $DEVINT2_CLUSTER_STACK $DEVINT2_APP_STACK $DEVINT2_REPOSITORY_NAME $DEVINT2_DESIRED_COUNT && ./deploy/deploy.sh $STAGING_CLUSTER_STACK $STAGING_APP_STACK $STAGING_REPOSITORY_NAME $STAGING_DESIRED_COUNT"
    on:
      branch: develop
  - provider: script
    script: "./deploy/deploy.sh $PROD_CLUSTER_STACK $PROD_APP_STACK $PROD_REPOSITORY_NAME $PROD_DESIRED_COUNT"
    on:
      branch: production
