node_modules
build
.next
coverage
storybook-static

schema.graphql

.env

lerna-debug.log
yarn-error.log

template-test.lock

# USE YARN IN THIS REPO
package-lock.json
npm-shrinkwrap.json

# See: build-service-container.sh
package-json.tar

*.key
*.crt
.DS_Store
.idea
