
<div class="ft-c ft-ite">
  <ul class="ft-ll ft-ite-links">
    <li class="ft-ll-i">
      <a href="http://www.cityofboston.gov/311/" class="ft-ll-a lnk--yellow">
        BOS:311 - Report an issue
      </a>
    </li>

    <li class="ft-ll-i">
      <a href="https://www.boston.gov/departments/innovation-and-technology/privacy-and-security-statement" target="_blank" title="" class="ft-ll-a">Privacy Policy</a>
    </li>
    <li class="ft-ll-i">
      <a href="https://www.boston.gov/departments/mayors-office/contact-boston-city-hall" title="" class="ft-ll-a">Contact us</a>
    </li>
    <li class="ft-ll-i">
      <a href="https://www.boston.gov/departments/digital-team/city-boston-alerts-and-notifications" title="" class="ft-ll-a">Alerts and notifications</a>
    </li>
    <li class="ft-ll-i">
      <a href="https://www.boston.gov/departments/public-records" title="" class="ft-ll-a">Public records requests</a>
    </li>
  </ul>

  <ul class="ft-ll ft-ite-311">
    <li class="ft-ll-i">
      <a href="http://www.cityofboston.gov/311/" class="ft-ll-a lnk--yellow">
        <span class="ft-ll-311">BOS:311</span>
        <span class="tablet--hidden"> - </span>
        Report an issue
      </a>
    </li>
  </ul>
</div>
