{
  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    ["inline-import", {
      "extensions": [
        ".graphql",
        ".env",
        ".html"
      ]
    }],
    "transform-class-properties"
  ],
  "presets": [
    ["env", { "modules": "commonjs" }],
    "next/babel"
  ]
}
