
    <div class="ft-c">
      <ul class="ft-ll ft-ll--r">
        <li class="ft-ll-i"><a href="http://www.cityofboston.gov/311/" class="ft-ll-a lnk--yellow"><span class="ft-ll-311">BOS:311</span><span class="tablet--hidden"> - </span>Report an issue</a></li>
      </ul>
      

<ul class="ft-ll"><li class="ft-ll-i"><a href="https://www.boston.gov/departments/innovation-and-technology/privacy-and-security-statement" target="_blank" title="" class="ft-ll-a">Privacy Policy</a></li>
<li class="ft-ll-i"><a href="https://www.boston.gov/departments/mayors-office/contact-boston-city-hall" title="" class="ft-ll-a">Contact us</a></li>
<li class="ft-ll-i"><a href="https://www.boston.gov/departments/digital-team/city-boston-alerts-and-notifications" title="" class="ft-ll-a">Alerts and notifications</a></li>
<li class="ft-ll-i"><a href="https://www.boston.gov/departments/public-records" title="" class="ft-ll-a">Public records requests</a></li>
</ul>    </div>
  