
  <div class="main-navigation-wrapper">
    <div class="main-navigation-title"></div>
      <div class="region region-navigation">
    <div class="block block-menu-block first last odd" role="navigation" id="block-menu-block-1">

        <div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-0 menu-level-1">
  <ul class="menu"><li class="menu__item is-leaf first leaf menu-mlid-177481 secondary-menu-item"><a href="/public-notices" title="" class="menu__link">Public notices</a></li>
<li class="menu__item is-leaf leaf menu-mlid-177446 secondary-menu-item"><a href="/node/3256/" title="" class="menu__link">Pay and apply</a></li>
<li class="menu__item is-leaf leaf menu-mlid-32841 secondary-menu-item"><a href="#" title="" class="menu__link feedback-link modal-link nolink" data-modal="feedback">Feedback</a></li>
<li class="menu__item is-leaf leaf menu-mlid-763366 three-one-one"><a href="http://www.cityofboston.gov/311/" title="" class="menu__link three-one-one">Help / 311</a></li>
<li class="menu__item is-leaf leaf menu-mlid-210101"><a href="/homepage" class="menu__link">Home</a></li>
<li class="menu__item is-leaf leaf menu-mlid-184936"><a href="/programs-initiatives" title="" class="menu__link">Programs and Initiatives</a></li>
<li class="menu__item is-leaf leaf menu-mlid-171721"><a href="/guides" title="" class="menu__link">Guides to Boston</a></li>
<li class="menu__item is-leaf leaf menu-mlid-202946"><a href="/news" class="menu__link">News</a></li>
<li class="menu__item is-leaf leaf menu-mlid-885866"><a href="/events" class="menu__link">Events</a></li>
<li class="menu__item is-leaf leaf menu-mlid-171726"><a href="/departments" class="menu__link">Departments</a></li>
<li class="menu__item is-expanded expanded menu-mlid-171741"><a href="#" title="" class="menu__link nolink">Government</a><ul class="menu submenu"><li class="menu-item-back"><a href="#" class="menu-link-back">Back</a></li><li class="menu__item is-leaf first leaf menu-mlid-171851"><a href="/departments/mayors-office" title="" class="menu__link">The Mayor&apos;s Office</a></li>
<li class="menu__item is-leaf leaf menu-mlid-171856"><a href="/departments/city-council" title="" class="menu__link">City Council</a></li>
<li class="menu__item is-leaf leaf menu-mlid-171861"><a href="/departments/city-clerk" title="" class="menu__link">City Clerk</a></li>
<li class="menu__item is-leaf leaf menu-mlid-171866"><a href="/departments/elections" title="" class="menu__link">Elections</a></li>
<li class="menu__item is-leaf last leaf menu-mlid-178041"><a href="/cabinet-directory" class="menu__link">Cabinet Directory</a></li>
</ul></li>
<li class="menu__item is-expanded expanded menu-mlid-171731"><a href="#" title="" class="menu__link nolink">Places</a><ul class="menu submenu"><li class="menu-item-back"><a href="#" class="menu-link-back">Back</a></li><li class="menu__item is-leaf first leaf menu-mlid-183211"><a href="/neighborhoods" class="menu__link">Neighborhoods</a></li>
<li class="menu__item is-leaf leaf menu-mlid-171786"><a href="/community-centers" class="menu__link">Community Centers</a></li>
<li class="menu__item is-leaf leaf menu-mlid-652731"><a href="http://www.bostonpublicschools.org/Page/628" title="" class="menu__link">Schools</a></li>
<li class="menu__item is-leaf leaf menu-mlid-171791"><a href="/parks-and-playgrounds" class="menu__link">Parks</a></li>
<li class="menu__item is-leaf leaf menu-mlid-171801"><a href="http://www.bpl.org/general/branch.htm" title="" class="menu__link">Libraries</a></li>
<li class="menu__item is-leaf leaf menu-mlid-184086"><a href="/departments/landmarks-commission/our-work-landmarks-commission" class="menu__link">Historic Districts</a></li>
<li class="menu__item is-leaf last leaf menu-mlid-171811"><a href="/cemeteries" class="menu__link">Cemeteries</a></li>
</ul></li>
<li class="menu__item is-leaf last leaf menu-mlid-212956"><a href="/departments/human-resources/career-center" title="" class="menu__link">Work for the City</a></li>
</ul></div>

</div>
  </div>
  </div>
