$charles_river = #091F2F
$freedom_trail_red = rgb(248,79,72)

@import url(https://fonts.googleapis.com/css?family=Montserrat)

.oh
  width: 100%
  background: white
  border-bottom: 3px solid $charles_river
  font-family: 'Montserrat', sans-serif
  font-size: 14px
  font-weight: 200

  div
    margin: 0
    padding: 0
    list-style: none
    line-height: 1
    font-size: 14px

  p
    margin: 0
    line-height: 1.2
    font-size: 14px

  &-fac
    align-items: center

  &-flx
    display: flex

  &-cr
    color: rgb(248,79,72)

    &:link,
    &:visited
      color: rgb(248,79,72)
      font-weight: bold

  &-cw
    color: rgb(255,255,255)

  &-bcr
    background-color: $charles_river

  &-bcftr
    background-color: $freedom_trail_red

  &-ttu
    text-transform: uppercase

  &-tdu
    text-decoration: underline

  &-tac
    text-align: center

  &-tar
    text-align: right

  &-fr
    margin-left: auto

  &-w25
    width: 25%

  &-w50
    width: 50%

    @media screen and (max-width: 700px)
      width: 100%

  &-psm
    padding: 9px 12px 7px

  &-pmd
    padding: 1em

  &-mls
    margin-left: 15px

    @media screen and (max-width: 700px)
      margin-left: auto

  &-mbn
    margin-bottom: -3px

  &-hsm
    @media screen and (max-width: 700px)
      display: none
