{
  "presets": [
    [
      "next/babel",
      {
        "preset-env": {
          "modules": "commonjs"
        },
        "class-properties": {
          "loose": true
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    [
      "inline-import",
      {
        "extensions": [".graphql", ".env", ".html", ".mjml", ".txt", ".hbs"]
      }
    ],
    ["@babel/plugin-proposal-decorators", { "legacy": true }]
  ]
}
