{
  "plugins": [
    "graphql"
  ],
  "rules": {
    "graphql/template-strings": [
      "error",
      {
        "projectName": "registry-certs"
      }
    ],
    "graphql/named-operations": [
      "error",
      {
        "projectName": "registry-certs"
      }
    ]
  }
}