<mjml>
    <mj-head>
        <mj-font name="Lora" href="https://fonts.googleapis.com/css?family=Lora:400,700,400i" />
        <mj-font name="Montserrat" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />

        <mj-attributes>
            <mj-all font-family="Lora, serif" font-size="16px" line-height="1.8" />
        </mj-attributes>
    </mj-head>

    <mj-body>
        <mj-section padding="25px 0 10px">
            <mj-image width="200px" padding="0" align="left" alt="City of Boston" src="https://patterns.boston.gov/images/public/logo.png"></mj-image>
        </mj-section>

        <mj-section padding="20px 0 10px">
            <mj-text padding="0 0 0 10px" line-height="1.5">
                <p>Hello {{firstName}},</p>

                <p>Serving on a board or commission is one of the most impactful ways Bostonians can become active in their community. Thank you for your application{{#compare commissionNames.length '>' 1}}s{{/compare}} to:</p>

                <ul>
                {{#each commissionNames}}
                    <li>{{this}}</li>
                {{/each}}
                </ul>
            </mj-text>
        </mj-section>

        <mj-section padding="20px 0 10px">
            <mj-group>
                <mj-column width="12%" vertical-align="middle">
                    <mj-image align="left" padding="0" alt="" src="https://patterns.boston.gov/images/public/seal.png"></mj-image>
                </mj-column>

                <mj-column width="88%" vertical-align="middle">
                    <mj-text padding="0 0 0 20px" line-height="1.5">
                        <p>If you have any questions about your application, please contact <a href="mailto:boardsandcommissions@boston.gov">boardsandcommissions@boston.gov</a>.</p>
                    </mj-text>
                </mj-column>
            </mj-group>
        </mj-section>
    </mj-body>
</mjml>
