{
  "presets": [
    "next/babel",
    "latest"
  ],

  "plugins": [
    ["inline-import", {
      "extensions": [
        ".graphql",
        ".env",
        ".html"
      ]
    }],

    "transform-class-properties"
  ],

  "env": {
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    }
  }
}
