{
  "presets": [
    "next/babel",
    "env"
  ],

  "plugins": [
    "babel-plugin-transform-decorators-legacy",
    "transform-inline-environment-variables",

    ["inline-import", {
        "extensions": [
          ".graphql",
          ".env",
          ".html"
        ]
      }],

    "transform-class-properties",
    ["emotion", { "inline": true }]
  ],

  "env": {
    "test": {
      "plugins": [
        "transform-es2015-modules-commonjs",
        "babel-plugin-require-context-hook"
      ]
    }
  }
}